<?xml version="1.0"?>
<launch>
    <!-- Launching launch files: https://answers.ros.org/question/9426/can-i-call-one-launch-file-from-another-launch-file/-->
  <include file="$(find final_assignment)/launch/simulation_gmapping.launch" />
  <include file="$(find final_assignment)/launch/move_base.launch" />

<arg name="mod" default="mod2"/>

<group if="$(eval mod == 'mod1')">
  <arg name="des_x" default= "-5.0"/>
  <arg name="des_y" default= "-5.0"/>
  <param name="des_pos_x" value="$(arg des_x)" />
  <param name="des_pos_y" value="$(arg des_y)" />

  <node pkg="final_assignment" type="dene10.py" name="dene10" output="screen" launch-prefix="gnome-terminal --tab --title=&quot;Mod1: User Goal Input&quot; -- "/>

</group>

<group if="$(eval mod == 'mod2')">
  <!-- Teleopt- keyboard   https://answers.ros.org/question/231271/setting-argument-for-teleop-twist-keyboard-in-launch-file/-->
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop" output="screen" launch-prefix="gnome-terminal --tab --title=&quot;Mod2: Keyboard&quot; -- " />
</group>

<group if="$(eval mod == 'mod3')">
  <!-- Teleopt- keyboard   https://answers.ros.org/question/231271/setting-argument-for-teleop-twist-keyboard-in-launch-file/-->
  <node pkg="final_assignment" type="sonuncu2.py" name="sonuncu2" output="screen" launch-prefix="gnome-terminal --tab --title=&quot;Mod3: User Input with Coll. Avoid.&quot; -- "/>
  <node pkg="final_assignment" type="ek2.py" name="ek2" output="screen" launch-prefix="gnome-terminal --tab --title=&quot;Outputs&quot; -- " />
</group>


</launch>